# Telegram
TELEGRAM_BOT_TOKEN=

# Opencode API
OPENCODE_API_KEY=
OPENCODE_BASE_URL=https://api.opencode.id/v1

# Admin Telegram Chat ID
ADMIN_CHAT_ID=


# Database MySQL
MYSQL_HOST=homelab-mysql
MYSQL_PORT=3306
MYSQL_USER=remindre
MYSQL_PASSWORD=rahasia
MYSQL_DATABASE=remindre_bot


# Application
TZ=Asia/Jakarta
LOG_LEVEL=INFO
ENVIRONMENT=local